
<div id="about">

  <h3>About bikerackmap.com</h3>

  <p>
    The purpose of this site is to <a href="http://en.wikipedia.org/wiki/Crowdsourcing">crowdsource</a>
    bicycle rack (aka stand) locations, and to display them on a map.
  </p>
  
  <p>
    This site is free to anyone to use. In fact, we're dedicated to 
    <a href="http://en.wikipedia.org/wiki/Open_data">open data</a>
    and you're welcome to take all the data here and re-use it.
  </p>
  
  <p>
    If you would like to contribute, you will need a twitter account. It helps if you have a smartphone with GPS, but
    that's not even required. To add a rack location just click (or poke) on the map where the rack is, enter a description of the
    rack, perhaps add a photo or two, and hit the "tweet it" button.
  </p>
  
  
  <h3>More Info...</h3>

  <p>
    This site is created in association with <a href="http://hawaiiopendata.com/">Hawaii Open Data</a>,
    and fully supports 
    <blockquote>
      <em>improving data accessibility and integrity in support of public/private collaboration, government transparency, and civic engagement.</em>
    </blockquote>                      
  </p>

  <h3>Contact</h3>
  
  <p>
    If you have comments, questions, complaints, please 
    <a href="https://twitter.com/intent/tweet?text=@phlatphrog" target="_blank">tweet me</a>, 
    <a href="https://twitter.com/phlatphrog" target="_blank">@phlatphrog</a>.
  </p>
  
  <p>
    <strong>Mahalo!</strong>
  </p>
</div>